@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css);
body {
    background-color: #011a27;
    /* background-color: #063852; */
}

.container {
    background-color: red;
}

.nav-pills .nav-link {
    border-radius: 0;
    color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #f0810f;
}